<nav class="navbar navbar-expand-lg navbar-light bg-warning p-0">
  <a class="navbar-brand h5 font-weight-bold text-white p-2 ml-3" routerLink="/">Quotes Central</a>
  <div class="navbar-collapse" id="navbarNav">
    <ul class="navbar-nav border-left border-dark pl-3 pt-2 pb-2">
      <li class="nav-item active" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link h5 font-weight-bold" routerLink="/">Quotes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link h5 font-weight-bold" routerLink="/add">Submit new quote</a>
      </li>
    </ul>
  </div>
</nav>
