<div class="p-5 text-center">
  <h2 class="text-warning font-italic">Your quote</h2>
  <form (ngSubmit)="onClickAddQuote()">
    <div class="form-group m-3">
      <label for="select"  class="h5 font-italic m-4 text-warning">Category:</label>
      <select id="select" class="pl-5 pr-5 pt-1 pb-1" name="select" [(ngModel)]="select" appShadow>
        <option value="star-wars" >Star Wars</option>
        <option value="famous-people">Famous people</option>
        <option value="saying">Saying</option>
        <option value="humour">Humour</option>
        <option value="motivational">Motivational</option>
      </select>
    </div>
    <div class="form-group m-5">
      <label for="inputAuthor" class="h5 font-italic text-warning">Author</label>
      <input type="text" name="author" class="form-control mt-2" id="inputAuthor" [(ngModel)]="author" appShadow />
    </div>
    <div class="form-group m-5">
      <label for="inputTextArea" class="h5 font-italic text-warning">Text</label>
      <textarea name="text"  class="form-control mt-2"  id="inputTextArea" [(ngModel)]="text" appShadow ></textarea>
    </div>
    <button type="submit" class="btn btn-primary m-3" [disabled]="select === '' || author === '' || text === ''" appShadow>Submit</button>
  </form>
</div>
