<h2 class="pl-5 pr-3 pt-3 font-weight-bold font-italic">Quotes:</h2>
<div *ngFor="let quote of arrayQuotes">
  <div class="card m-5 text-dark bg-warning" style="width: 35rem;" appShadow>
    <div class="card-body">
      <h5 class="card-text border border-dark rounded p-3 text-primary">{{ quote.text }}</h5>
      <h5 class="m-3 pt-2">Author: {{ quote.author }}</h5>
      <div class="d-flex justify-content-around mt-3">
        <a class="btn btn-success m-2" (click)="onClickEdit(quote.id)" appShadow>Edit quote</a>
        <button class="btn btn-danger m-2" (click)="onClickDeleteQuote(quote.id)" appShadow>Delete quote</button>
      </div>
    </div>
  </div>
</div>
<p class="text-white font-italic m-5 p-5 h1">{{ empty }}</p>
