html,body {
  height: 100%;
  line-height: 1;
  font-size: 20px;
  color: white;
  background: url("https://kartinkin.net/uploads/posts/2021-07/thumbs/1626160627_2-kartinkin-com-p-fon-dlya-chata-telegramm-krasivo-2.jpg");
}

.my-shadow {
  box-shadow: 15px 13px 21px -3px rgba(16, 18, 19, 0.34);
}
