<div class="row">
  <div class="col-4 ml-5 pl-5">
    <h2 class="font-italic p-3 text-white font-weight-bold">Categories:</h2>
    <div class="list-group text-center">
        <a class="list-group-item list-group-item-action m-1 bg-warning border-dark font-weight-bold" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" appShadow>All</a>
        <a class="list-group-item list-group-item-action m-1 bg-warning border-dark font-weight-bold" routerLink="/quotes/star-wars" routerLinkActive="active" appShadow>Star Wars</a>
        <a class="list-group-item list-group-item-action m-1 bg-warning border-dark font-weight-bold" routerLink="/quotes/famous-people" routerLinkActive="active" appShadow>Famous people</a>
        <a class="list-group-item list-group-item-action m-1 bg-warning border-dark font-weight-bold" routerLink="/quotes/saying" routerLinkActive="active" appShadow>Saying</a>
        <a class="list-group-item list-group-item-action m-1 bg-warning border-dark font-weight-bold" routerLink="/quotes/humour" routerLinkActive="active" appShadow>Humour</a>
        <a class="list-group-item list-group-item-action m-1 bg-warning border-dark font-weight-bold" routerLink="/quotes/motivational" routerLinkActive="active" appShadow>Motivational</a>
    </div>
  </div>
  <div class="col-7 ml-5">
    <router-outlet></router-outlet>
  </div>
</div>

